<h1> BEN </h1>

<h2> Tacos: </h2>

<p> Taco Tuesday!</p>

<% tacos = ["carnitas", "avacado", "chicken"]     %>

<p> 
there are so many tacos: <%=tacos.length%>
</p>

<ul>
<li> large </li>
<li> medium </li>
<li> small </li>
</ul>